body {
    margin: 0;
}

.container-first {
text-align: center;
position: relative;
background-color: #EAF6F6;
}

.img-cloud1 {
    width: 15rem;
    position: relative;
    left: 30rem;
    padding-top: 2rem;
}

.img-cloud2 {
    width: 15rem;
    position: absolute;
    left: 20rem;
}

.title {
    font-family: "Sacramento";
    font-size: 9rem;
    line-height: 1;
    margin-bottom: 1rem;
    color: #66BFBF;
}

.title-desc {
    font-family: "Montserrat";
    color: #66BFBF;
}

.img-mountain {
    padding-top: 4rem;
}

.profile {
    text-align: center;
    position: relative;
    width: 40%;
    margin: auto;
}
.container-second {
    
}

.img-profile {
    margin-top: 4rem;
}

.profile-title {
    font-family: "Montserrat";
    font-size: 4rem;
    color: #66BFBF;
}

.profile-desc {
    font-size: 2rem;
}

hr {
    border-style: dotted none none none;
    border-width: 10px;
    width: 10%;
    color: #EAF6F6;
    margin: 10rem auto;
}

.skills {
    width: 50%;
    text-align: center;
    margin: auto;
}
.skill1 {
    text-align: left;
}
.skill2 {
    margin-top: 5rem;
    text-align: left;
}

.skill-title {
    font-family: "Montserrat";
    font-size: 4rem;
    color: #66BFBF;
}

.skill-desc {
    font-family: "Montserrat";
    font-size: 2rem;
    color: #66BFBF;
    
}

.skill-details {
    font-size: 2rem;
    
}

.skill-img1 {
    width: 200px;
    float: left;
    margin-right: 2rem;
}

.skill-img2 {
    width: 200px;
    float: right;
}

.contact {
    width: 50%;
    text-align: center;
    margin: auto;
}

.contact-title {
    font-family: "Montserrat";
    font-size: 4rem;
    color: #66BFBF;
}

.contact-desc {
    font-family: "Montserrat";
    font-size: 2rem;
    color: #66BFBF;
}

.contact-details {
    font-size: 2rem;
}

.btn {
    background: #0EC7CD;
    background-image: -webkit-linear-gradient(top, #0EC7CD, #0E9FA4);
    background-image: -moz-linear-gradient(top, #0EC7CD, #0E9FA4);
    background-image: -ms-linear-gradient(top, #0EC7CD, #0E9FA4);
    background-image: -o-linear-gradient(top, #0EC7CD, #0E9FA4);
    background-image: linear-gradient(to bottom, #0EC7CD, #0E9FA4);
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .container-fifth {
    background-color: #66BFBF;
  }
  .links {
    padding: 5rem 0;
    width: 50%;
    text-align: center;
    margin: 20rem auto 0;
    
}

.links-btn {
    font-family: "Montserrat";
    font-size: 2rem;
    color: #11999E;
    text-decoration: none;
    margin: 2rem;
}

.links-details {
    font-size: 1.5rem;
    color: white;
}